.historyList {
    width: 420px;
    height: 100vh;
    overflow: auto;
    margin-left: 10px;
}

.buttonContainers {
    width: 420px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.button {
    background-color: transparent;
    border: 0;
}