.App {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.GamePage {
  display: flex;
  align-items: center;
  flex-direction: column; 
}

.header {
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 3px solid;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 600px;
}

.history{
  width: 400px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.historyList {
  width: 400px;
}

